@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c1c1c;
}

h1 {
  color: #fff;
}
.card-img-top {
  height: 230px;
}
.card-body {
  height: 320px;
}
.card-title {
  height: 60px;
}
.card-text {
  height: 100px;
}
.cardd-text {
  height: 45px;
}
.card-img-top {
  background: linear-gradient(-45deg, #029f9e, #9cfdaf);
}
